@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Julius+Sans+One&display=swap');


html, body {
    font-size: 12;
    margin: 0;
    color: white;
}

h1, h2, a {
    font-family: Arial, sans-serif;
}

.header_text {
    font-family: 'Julius Sans One', 'Della Respira', sans-serif;
}

header {
    background-color: #283593;
}

.header_text {
    color: white;
    text-decoration: none;
}

.header_text:visited {
    color: white;
}

body header a {
    display: flex;
    flex-flow: row;
}

#left_header {
    float: left;
    width: 50vw;
    min-width: 400px;
    padding-left: 3rem;
}

#right_header {
    margin-top: 0.2rem;
}

main {
    display: flex;
    width: 100vw;
    justify-content: flex-start;
}

main iframe {
    width: 88%;
    height: calc(100vh - 140px);
    border: none;
}

main nav {
    width: 12%;
    min-width: 140px;
    height: calc(100vh - 140px);
    background-color: #3F51B5;
    padding-left: 1rem;
    padding-top: 1rem;
}

main nav h2 {
    margin-bottom: 0;
}

main nav ul {
    list-style: none;
    margin-left: -2.2rem;
    margin-top: 0.4rem;
}

#nav_li li {
    padding: 0.25rem 0.4rem;
}

#nav_li li:hover {
    background-color: #9FA8DA;
}

.nav_links {
    text-decoration: none;
    color: white;
}

.nav_links:visited {
    color: white;
}