html, body {
    font-size: 12;
    margin: 0;
    padding: 0 2%;
}

#buttons {
    width: 84vw;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
}

#buttons a {
    text-decoration: none;
    text-align: center;
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    color: white;
    background-color: #3F51B5;
}

.info_section {
    margin-top: 1rem;
    background-color: #9FA8DA;
}

.info_section div {
    display: inline-flex;
    padding: 1rem;
}

p {
    margin-top: 0.4rem;
    font-size: 1.2rem;
    padding-left: 2rem;
}

#python_logo {
    height: 7rem;
    padding: 0 1rem;
}